<div class="card" id="contact-teaser-007" data-contact-id="007">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="images/contacts/unknown.jpg" alt="Profile image">
                </figure>
            </div>
            <div class="media-content">
                <span class="is-pulled-right is-4 title favorite" data-contact-id="007">
                    <i class="far fa-heart"></i>
                </span>
                <p class="title is-4">Max Mustermann</p>
                <p class="subtitle is-6">max@mustermann.de</p>
            </div>
        </div>

        <div class="content">
                <i class="fa fa-map-marked-alt"></i>
                Musterweg 12, 38294 Musterstadt<br />
                <i class="fa fa-building"></i>
                Best Place to work<br />
                <i class="fa fa-briefcase"></i>
                Employee of the month<br />
        </div>
    </div>
</div>

@code {

}
